.parent {
    position: relative;
    background-color: aqua;
    width: 300px;
    height: 300px;
}

.child {
    position: absolute;
    top: 0;
    right: 0;
    
    display: inline-block;
    background-color: coral;
    width: 100px;
    height: 100px;
    margin: 5px;
}

